<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	{% for meta in page.getMetas() %}
	<meta{%if meta.getCharset() %} charset="{{ meta.getCharset() }}"{% endif %}{% if meta.getName() %} name="{{ meta.getName() }}"{% endif %}{% if meta.getHttpEquiv() %} http-equiv="{{ meta.getHttpEquiv() }}"{% endif %}{% if meta.getContent() %} content="{{ meta.getContent() }}"{% endif %}>
	{% endfor %}
	
	<title>{{ global.plattform_name }} Admin</title>
	
	<!-- Styles -->
	<link href="{{ resource_url("/assets/bootstrap/dist/css/bootstrap.min.css") }}" rel="stylesheet">
	<link href="{{ resource_url("/assets/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet">
	<link href="{{ resource_url("/keeko/admin-app/public/css/admin.css") }}" rel="stylesheet">
	
	{% for link in page.getLinks() %}
	<link{% if link.getHref() %} href="{{ resource_url(link.getHref()) }}"{% endif %}{% if link.getRel() %} rel="{{ link.getRel() }}"{% endif %}{% if link.getType() %} type="{{ link.getType() }}"{% endif %}>
	{% endfor %}
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ locations.app_url }}">{{ global.plattform_name }} Admin</a>
			</div>
			<div class="navbar-collapse collapse">
				{% macro menu(id, menu, locations) %}
				    {% for item in menu[id] %}
				    	{{ _self.item(item, menu, locations) }}
				    {% endfor %}
				{% endmacro %}
				
				{% macro item(item, menu, locations) %}
				    {% if not item['module'] or can(item['module'], item['action']) %}
				    {% set dropdown = menu[item['id']] and menu[item['id']]|length > 0 %}
					<li{% if dropdown %} class="dropdown"{% endif %}>
						<a href="{{ locations.app_url ~ item['slug'] }}"{% if dropdown %} class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"{% endif %}>
						<i class="fa {% if item['icon'] %}fa-{{ item['icon'] }}{% endif %} fa-fw"></i>
						{{ t(item['label'], [], item['domain']) }} 
						{% if dropdown %}<span class="caret"></span>{% endif %}
						</a>
						{% if dropdown %}
						<ul class="dropdown-menu">
							{{ _self.menu(item['id'], menu, locations) }}
						</ul>
						{% endif %}
					</li>
					{% endif %}
				{% endmacro %}

				{% if not user.isGuest() %}
				<ul class="nav navbar-nav">
					{{ _self.menu('', menu, locations) }}
				</ul>
				{% endif %}
				<ul class="nav navbar-nav navbar-right">
					{% if not user.isGuest() %}
					<p class="navbar-text">{{ user.getDisplayName() }}</p>
					<li><a href="{{ locations.app_url }}/logout"><i class="fa fa-power-off"></i></a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	{% autoescape false %}
	<main class="container-fluid">
		{{ main }}
	</main>
	{% endautoescape %}

	<!-- Scripts -->
	<script src="{{ resource_url("/assets/jquery/dist/jquery.min.js") }}" type="text/javascript"></script>
	<script src="{{ resource_url("/assets/bootstrap/dist/js/bootstrap.min.js") }}" type="text/javascript"></script>
    {% for script in page.getScripts() %}
	<script{% if script.getSrc() %} src="{{ resource_url(script.getSrc()) }}"{% endif %}{% if script.getType() %} type="{{ script.getType() }}"{% endif %}></script>
	{% endfor %}
</body>
</html>